layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:$HOME/.config/zellij/plugins/zjstatus.wasm" {
        format_right " #[fg=#8FBCBB,bold]  #[fg=#8FBCBB,bold]{command_git_branch} #[fg=#8FBCBB,bold]({session})#[fg=#8FBCBB,bold] {swap_layout}{mode}{tabs}"
        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      " #[fg=#8FBCBB,bold]{stdout}"
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "dynamic"

        mode_normal        "#[fg=#8FBCBB,bold] NORMAL "
        mode_locked        "#[fg=#A3BE8C,bold] LOCKED " 
        mode_pane          "#[fg=#81A1C1,bold] PANE "
        mode_tab           "#[fg=#BF616A,bold] TAB "
        mode_scroll        "#[fg=#B48EAD,bold] SEARCH "
        mode_tmux          "#[fg=#D08770,bold] TMUX "

        tab_normal              "#[fg=#8FBCBB,bold]  "
        tab_normal_fullscreen   "#[fg=#8FBCBB,bold]   "
        tab_normal_sync         "#[fg=#8FBCBB,bold]   "

        tab_active              "#[fg=#8FBCBB,bold]   "
        tab_active_fullscreen   "#[fg=#8FBCBB,bold]    "
        tab_active_sync         "#[fg=#8FBCBB,bold]    "
      }
    }
  }
  tab {
    pane
  }

  swap_tiled_layout name="vertical" {
        tab max_panes=5 {
        pane split_direction="vertical" {
            pane
            pane { children; }
        }
    }
    tab max_panes=8 {
        pane split_direction="vertical" {
            pane { children; }
            pane { pane; pane; pane; pane; }
        }
    }
    tab max_panes=12 {
        pane split_direction="vertical" {
            pane { children; }
            pane { pane; pane; pane; pane; }
            pane { pane; pane; pane; pane; }
        }
    }
  }

  swap_tiled_layout name="horizontal" {
        tab max_panes=5 {
        pane
        pane
    }
    tab max_panes=8 {
        pane {
            pane split_direction="vertical" { children; }
            pane split_direction="vertical" { pane; pane; pane; pane; }
        }
    }
    tab max_panes=12 {
        pane {
            pane split_direction="vertical" { children; }
            pane split_direction="vertical" { pane; pane; pane; pane; }
            pane split_direction="vertical" { pane; pane; pane; pane; }
        }
    }
  }
}
