themes {
    default {
        fg "#f2f4f8"
        bg "#161616"
        black "#272b30"
        red "#cc6666"
        green "#25be6a"
        yellow "#f0c674"
        blue "#33b1ff"
        magenta "#ee5396"
        cyan "#2dc7c4"
        white "#f2f4f8"
        orange "#ee5396"
    }
}

